[
  {
    "profile_name": "default",
    "token_v2": "PASTE_TOKEN_V2_HERE",
    "space_id": "PASTE_SPACE_ID_HERE",
    "user_id": "PASTE_USER_ID_HERE",
    "space_view_id": "PASTE_SPACE_VIEW_ID_HERE",
    "user_name": "Your Name",
    "user_email": "you@example.com"
  }
]
